/* tr button {
  display: none;
}

tr:hover button {
  display: inline-block;
} */

.p-row-odd {
 /* background:  rgb(225, 228, 225) !important;*/
}

.p-datatable-tbody {
  font-size: small;
}

.p-datatable .p-datatable-tbody > tr {
  height: 30px!important;
  margin: 0px!important;
  padding: 0px!important;
}

.p-datatable .p-datatable-tbody > tr > td {
  /* height: 20px!important; */
  margin: 0px!important;
  padding: 0px!important;
  /* display: none!important; */
}

div[id="selectedList"]>div>div>table>thead {
  display:none;
}

div[id="computePLList"]>div>div>table>thead {
  display:none;
}

body{
  font-size: smaller;
  margin: 3px;
}

.smallText {
  width : 40px;
  height: 20px;
  font-size: smaller;
  border-radius: 5px 5px 5px 5px;
  border-color: blue;
}
.small-size{
  font-size: smaller;
}
.optionPriceText {
  width : 60px;
  height: 20px;
  font-size: smaller;
  border-radius: 2px;
  border-color: blue;
}

.p-datatable-thead {
  font-size:smaller;
}
.smallGreenButton{
  width : 25px;
  height: 20px;
  margin-left: 2px;
  margin-right: 2px;
  background: white;
  text-align: center;
  color: green;
  border-color: green;
  font-size: smaller;
  border-radius: 5px;
  cursor: pointer;
}

.smallRedButton{
  width : 25px;
  height: 20px;
  margin-left: 2px;
  margin-right: 2px;
  background: white;
  align-content: center;
  color: red;
  border-color: red;
  border-radius: 5px;
  font-size:smaller;
  cursor: pointer;
}

.underline{
  text-decoration: underline;
}

.flex-space-between{
  justify-content: space-between;
}

.selected-button-buy{
  background-color: green;
  color: white;
  border-radius: 5px;
  font-size: smaller;
  cursor: pointer;
}

.selected-button-sell{
  background-color:red;
  color: white;
  border-radius: 5px;
  font-size: smaller;
  cursor: pointer;
}

.dialog{
  width: 600px;
  height: 600px;
}

.dialogControl{
  width: 300px;
  height: 40px;
  font-size: small;
  margin-bottom: 5px;
}
.p-dialog .p-dialog-content {
  width: 100%;
}
.secondLine{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: small;
}

.flex-item {
  margin: 5px;
}

.symbol-dropdown{
  width: 200px;
}

.date-dropdown{
  width: 150px;
}

.line-break {
  width: 100%;
}

.smallButton{
padding: 5px!important;
font-size: small;
font-weight: bold;
}

.p-component{
  font-size: small;
}

.symbol-dropdown .p-inputtext{
  font-size: small!important;
  height: 30px!important;
  vertical-align: middle!important;
  padding: 7px!important;  
}
.date-dropdown .p-inputtext{
  font-size: small!important;
  height: 30px!important;
  vertical-align: middle!important;
  padding: 7px!important;  
}

.p-dropdown-items{
font-size: small;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: #6366F1!important;
  border-color: #6366F1!important;
  color: white!important;
  height: 30px!important;
 
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link{
  height: 40px;
  margin-bottom: 0cm!important;
}

.slidecontainer {
  width: 100%;
}
/* .p-datatable-scrollable .p-datatable-thead>tr>th {
  display:table-row!important;
}
.p-datatable .p-datatable-tbody > tr {
  display:table-row!important;
} */

.optionList .p-datatable-wrapper .p-datatable-table .p-datatable-tbody td:nth-child(1) {
  width: 20px;
}

.strategyList .p-datatable-wrapper .p-datatable-table .p-datatable-tbody tr:hover {
  cursor: pointer;
}

.strategyList  .p-datatable-wrapper .p-datatable-table .p-datatable-thead > tr > th:nth-child(2) {
  flex-grow: 2;
 padding-right: 4em;
} 
/* .strategyList  .p-datatable-wrapper .p-datatable-table .p-datatable-thead > tr > th:nth-child(3) {
 padding-right: 1em;
 padding-left: .8em;
} 
.strategyList .p-datatable-wrapper .p-datatable-table .p-datatable-tbody tr>td:nth-child(2) {
    flex-grow: 2;
} */
.hideComponent{
  display: none;
}
.showComponent{
  display: block;
}

.alignedLeft {
  text-align: left; 
  background:#d0e1fd;
  font-weight:bold;
  color:black;
  font-size:small;
  /* display: flex!important; */
  align-items: center;
  cursor: pointer
}

.alignedCenter {
  text-align: center; 
  background:#d0e1fd;
  font-weight:bold;
  color:black;
  font-size:small;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  margin-top:-8px; 
  margin-left:-8px; 
  margin-right:-8px;
  display: flex;
}

.borderClass{
  border-style:'ridge';
  border-color: #d0e1fd;
}

.redClass{
  color: red;
}

.leglot-dropdown .p-inputtext{
  font-size: small!important;
  height: 30px!important;
  vertical-align: middle!important;
  padding: 7px!important;
  margin: -4px;  
}

.otm{
  background-color: #FFFF00;
}
.p-inputnumber-button {
  width: 20px!important;
}
.p-fluid .p-inputtext{
  font-size: small!important;
}
.button-above-option-chain{
  font-size:small;
  border-radius:13px; 
  border-bottom-style:none; 
  border-top-style:none;
  border-left-style:none;
  border-right-style:none;
  cursor:pointer; 
}
.button-above-option-chain-orange{
  font-size:small;
  border-radius:13px; 
  border-bottom-style:none; 
  border-top-style:none;
  border-left-style:none;
  border-right-style:none;
  cursor:pointer; 
  background-color:orange;
}
/* .clicked{
  background-color:orange;
} */


/* button:hover{background-color:orange;}

button:focus{background-color:orange;}  */

/* a {
  color: orange;
} */

/* a.button{
  color:green;
 
  text-decoration: none;
} 
*/
/* a:visited {
  background-color:orange;
} */

/* button:active {
  background-color:orange;
}   */